<div class="d-flex align-items-center">
  <h2 class="pr-2 my-2"><%= @article.title %></h2>
  <%= link_to(edit_article_path) do %>
    <i class="fas fa-edit fa-lg mx-2"></i>
  <% end %>
  <%= link_to(article_path(@article), method: :delete, data: { confirm: 'Confirm delete?' }) do %>
    <i class="fas fa-trash-alt fa-lg mx-2"></i>
  <% end %>


    <%#= link_to 'Delete',
        article_path(@article),
        method: :delete,
        data: { confirm: 'Confirm delete?' } %>
</div>
<p><%= @article.content %></p>
